<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Customers Information</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css" >
</head>

<body>

<div layout:fragment="content">
    <div class="card">
        <div class="card-header bg-primary" >Home Page</div>
        <div class="card-body">
        </div>
    </div>
</div>
</body>
</html>