<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Customers Information</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css" >
</head>

<body>

<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="url:${urls}">
                    <div class="d-grid">
                        <a class="btn btn-outline-success" th:text="${url.getKey()}" th:href="${url.getValue()}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>